<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome{% endblock %} | Topics</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    </head>

    <body>
        <div class="container">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_topics') }}">All Topics</a>
                </li>

                {% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_topic') }}">Add Topic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('topics') }}">My Topics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Sign Out [{{ g.user.username }}]</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_current_path(url_for('login')) }}" href="{{ url_for('login') }}">Sign In</a>
                    </li>
                {% endif %}
            </ul>

            {% with flashes = get_flashed_messages() %}
                {% if flashes %}
                    {% for message in flashes %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}

        </div>
    </body>
</html>