{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}

{% if error %}
    <div class="error">
        <strong>Error:</strong> {{ error }}
    </div>
{% endif %}

<form method="post">
    <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input type="username" class="form-control" name="username" id="exampleInputUsername" placeholder="Enter username" value="{{ request.form.username }}">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail">Email Address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail" placeholder="Enter email address" value="{{ request.form.email }}">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" class="form-control" name="password2" id="exampleInputPassword2" placeholder="Confirm Password">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock %}
